:root {
  --fw-500: 500;
  --fw-800: 800;
  --c-yellow: hsl(47, 88%, 63%);
  --c-white: hsl(0, 0%, 100%);
  --c-gray-500: hsl(0, 0%, 42%);
  --c-gray-950: hsl(0, 0%, 7%);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Figtree', serif;
  font-size: 16px;
  background-color: var(--c-yellow);
  color: var(--c-gray-950);
  width: 100%;
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Flex-container styling */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
}

/* Article styling */

.article {
  max-width: 21.5rem;
  background-color: var(--c-white);
  padding: 1.5rem;
  border-radius: 20px;
  border: 1px solid var(--c-gray-950);
  box-shadow: 0.5rem 0.5rem 0 0 var(--c-gray-950);
}

.article-img {
  border-radius: 10px;
  height: 12.5rem;
  object-fit: cover;
}

.article-sub-text {
  padding-block: 1.25rem;
}

.article-category {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.5rem 0.875rem;
  border-radius: 5px;
  background-color: var(--c-yellow);
  font-size: 0.75rem;
  font-weight: var(--fw-800);
}

.article-date {
  font-size: 0.75rem;
}

.article-main-text {
  margin-bottom: 1.75rem;
}

.article-header {
  font-weight: var(--fw-800);
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.article a:hover .article-header {
  color: var(--c-yellow);
}

.article-description {
  line-height: 1.6;
  color: var(--c-gray-500);
  font-size: 0.875rem;
}

.article-footer {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.article-footer-img {
  width: 2rem;
}

.article-footer-author {
  font-weight: var(--fw-800);
  font-size: 0.875rem;
}

@media (min-width: 768px) {

  .article-img {
    height: auto;
  }
  
}